

/* Custom CSS code for dashboard */

.chart-title {
  font-weight: 800;
  font-size: 16px;
}


.navbar{
  font-family: "Oswald";
  background-color: #512888;
  font-weight: 500;
}




.chart-wrapper {
  padding: 3px
  margin: 3px;
}
